.btn {
  border: 1px solid lightskyblue;
  padding: 4px 8px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  border: 1px solid darkslateblue;
  background-color: lightskyblue;
}
