.form {
  padding: 10px 0;
  /*border-bottom: 1px solid var(--color-product-list-border);*/
}

.form__wrapper,
.form__buttons {
  display: flex;
  flex-basis: 50%;
  gap: 10px;
}

.form__input,
.form__textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 16px;
  font: inherit;
  /*font-size: var(--font-size-xs);*/
  /*background-color: var(--color-background-tertiary);*/
  background-color: #d1f0ff;
  /*color: var(--color-text-secondary);*/
  border: none;
  border-radius: 5px;
  outline: 1px solid transparent;
}

.form__input:focus,
.form__textarea:focus {
  /*outline:1px solid var(--color-text-secondary);*/
  outline: 1px solid darkslateblue;
}

.form__textarea {
  min-height: 75px;
}

.form__button {
  width: 100%;
  padding: 4px 22px;
  margin-bottom: 6px;
  text-transform: uppercase;
  /*font-size: var(--font-size-s);*/
  /*color: var(--color-text-quaternary);*/
  /*background-color: var(--color-background-secondary);*/
  background-color: #d1f0ff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
