.list__wrapper {
  padding: 10px;
  width: 300px;
}

.list__title {
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list__item {
  border-radius: 6px;
  border: 1px solid lightskyblue;
  padding: 4px 8px;
}

.list__btn {
  padding: 10px 20px;
  border: 1px solid lightskyblue;
  padding: 4px 8px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
}
