.list__wrapper {
}

.list__title {
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list__item {
  border-radius: 6px;
  border: 1px solid lightskyblue;
  overflow: hidden;
}

.list__item_active {
  background-color: #d1f0ff;
}
